body {
    background-color: rgb(230, 230, 230);
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.alert-error {
    color: red;
}

.alert-info {
    color: #ff9100;
}

.alert-success {
    color: green;
}

.profile-owner {
    text-transform: capitalize;
}

.icon-table {
    color: green;
}

.product-view-btn {
    width: 180px;
}
.settings-menu {
    margin: auto 0;
}

.settings-row {
    height: 75px;
    margin-left: 15px;
}

.settings-col {
    height: inherit;
}

.settings-item {
    margin-top: 20px;
    margin-left: 15px;
}

.container {
    margin-top: 10px;
}