<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>
<body>
    {% for invoice in invoices %}
        {{ invoice.Suplier }}<br>
        {{ invoice.Date }}<br>
        {{ invoice.Invoice_number }}<br>
        <br>
        {{ invoice.Products.0.Product_nr }}<br>
        {{ invoice.Products.0.Code }}<br>
        {{ invoice.Products.0.Description }}<br>
        {{ invoice.Products.0.Quantity }}<br>
        {{ invoice.Products.0.Price }}<br>
        <br>
        {{ invoice.Products.1.Product_nr }}<br>
        {{ invoice.Products.1.Code }}<br>
        {{ invoice.Products.1.Description }}<br>
        {{ invoice.Products.1.Quantity }}<br>
        {{ invoice.Products.1.Price }}<br>
    {% endfor %}
</body>
</html>