{% extends "base.html" %}
{% block content %}

<a href="{{ url_for('get_stock_level_all') }}" class="waves-effect waves-light green darken-1 btn" target="_parent"><i class="fas fa-boxes left"></i>All products</a>
<a href="{{ url_for('get_stock_level') }}" class="waves-effect waves-light green darken-1 btn" target="_parent"><i class="fas fa-box left"></i>In Stock</a>
<a href="{{ url_for('get_stock_level_sold') }}" class="waves-effect waves-light green darken-1 btn" target="_parent"><i class="fas fa-hand-holding-usd left"></i>Sold</a>
<a href="{{ url_for('add_product') }}" class="waves-effect waves-light green darken-1 btn" target="_parent"><i class="far fa-plus-square left"></i>Add new product</a>


<table>
    <tr>
        <th class="tooltipped" data-position="down" data-tooltip="Category - rims, tires or complete wheel">Category</th>
        <th class="tooltipped" data-position="down" data-tooltip="Stock Item Code from Invoice">Code</th>
        <th class="tooltipped" data-position="down" data-tooltip="Rim size in inches">Size</th>
        <th class="tooltipped" data-position="down" data-tooltip="Rim width in inches">Width</th>
        <th class="tooltipped" data-position="down" data-tooltip="Bolt pattern - amount of bolts x distance between bolt centers">Bolt pattern</th>
        <th class="tooltipped" data-position="down" data-tooltip="ET value">ET</th>
        <th class="tooltipped" data-position="down" data-tooltip="Center (naaf)">Center</th>
        <th class="tooltipped" data-position="down" data-tooltip=" 'V' if rims is original equipment">OE</th>
        <th class="tooltipped" data-position="down" data-tooltip="W = winter, Z = zommer">Tires</th>
        <th class="tooltipped" data-position="down" data-tooltip="With in cm, height in % and size in inches (195/65R15)">Tyre size</th>
        <th class="tooltipped" data-position="down" data-tooltip="Manufacturer and model of tyre">Tyre model</th>
        <th class="tooltipped" data-position="down" data-tooltip="Short description">Description</th>
        <th class="tooltipped" data-position="down" data-tooltip="Sales price">Price</th>
        <th class="tooltipped" data-position="down" data-tooltip="Product History"></th>
        <th class="tooltipped" data-position="down" data-tooltip="Edit"></th>
        <th class="tooltipped" data-position="down" data-tooltip="Delete"></th>
    </tr>
    {% for item in stock %}
        {% if item.stock != "none" %}
            <tr>
                <td>{{ item.category_name }}</td>
                <td>{{ item.code }}</td>
                <td>{{ item.rim_size }}</td>
                <td>{{ item.width }}</td>
                <td>{{ item.bolt_pattern }}</td>
                <td>{{ item.et }}</td>
                <td>{{ item.center }}</td>
                {% if item.oe == "true" %}
                    <td><i class="green-text text-darken-1 fas fa-check"></i></td>
                {% elif item.oe == "false" %}
                    <td> </td>
                {% endif %}
                <td>{{ item.tyre_type }}</td>
                <td>{{ item.tyre_size }}</td>
                <td>{{ item.tyre_model }}</td>
                <td>{{ item.description }}</td>
                <td><i class="fas fa-euro-sign"></i> {{ item.price }}</td>
                <td><a href="#"><i class="green-text text-darken-1 far fa-chart-bar"></i></a></td>
                <td><a href="{{ url_for('edit_product', product_id=item._id) }}"><i class="green-text text-darken-1 fas fa-pen"></i></a></td>
                <td><a href="{{ url_for('delete_product', product_id=item._id) }}"><i class="green-text text-darken-1 far fa-trash-alt"></i></a></td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

{% endblock %}